<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moviting.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.activity.ProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FirstSettingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AdjustUserPreferenceActivity"
            android:label="@string/search_mate_condition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ChoosePrefDateActivity"
            android:label="@string/pref_date"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ChoosePrefGenderActivity"
            android:label="@string/gender_text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ChoosePrefMovieActivity"
            android:label="@string/pref_movie"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".util.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".util.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.InfoBeforePaymentActivity"
            android:label="@string/info_before_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PaymentActivity"
            android:label="@string/payment_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CreditActivity"
            android:label="@string/payment_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CouponActivity"
            android:label="@string/payment_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MovieTicketActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.TicketBoxActivity1"
            android:label="@string/title_activity_ticket_box1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.TicketBoxActivity2"
            android:label="@string/title_activity_ticket_box1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ProfilePropEditActivity"
            android:label="@string/title_activity_profile_prop_edit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>